{% include "../lib/header.html" %}
<div>添加原材料</div>
<div class="ma_inputbox">
    <input id="id_name" type="text" placeholder="名称">
    <input id="id_imgurl" type="text" placeholder="图片">
    <input id="id_intro" type="text" placeholder="简介">
    <input id="id_type" type="text" placeholder="类别">
    <input id="id_chave" type="text" placeholder="C含量">
    <input id="id_gi" type="text" placeholder="GI">
    <input id="id_gl" type="text" placeholder="GL">
</div>

<p class="ma_submit">提交</p>
<script type="text/javascript">
    //页面加载
    function onPageLoad() {
        $('.ma_submit').click(function () {
            var name = $("#id_name").val();
            var imgurl = $("#id_imgurl").val();
            var intro = $("#id_intro").val();
            var type = $("#id_type").val();
            var chave = $("#id_chave").val();
            var gi = $("#id_gi").val();
            var gl = $("#id_gl").val();

            var url = "/api/material/create";
            var data = {"name":name,"imgurl":imgurl,"intro":intro,"type":type,"chave":chave,"gi":gi,"gl":gl};
            API_POST(url,data,function (jsonData) {
                if (jsonData.code) {
                    layer.msg(jsonData.msg);
                    return;
                }
                layer.msg(jsonData.msg);
            })
        });
    }
</script>
{% include "../lib/footer.html" %}