{% include "../lib/m-header.html" %}
<link rel="stylesheet" href="/stylesheets/swiper-3.4.2.min.css"/>
<link rel="stylesheet" href="/stylesheets/m-index.css"/>
<script src="/javascripts/swiper-3.4.2.min.js"></script>
<section class="webapp-container">
    <div class="index-top-bar clearfix">
        <i class="index-bar-licon"></i>
        <i class="index-bar-ricon"></i>
        <p class="index-bar-title">营养家</p>
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493115429486&di=979fe4424b605b03132652a90eb981a3&imgtype=0&src=http%3A%2F%2Fpic.qiantucdn.com%2F58pic%2F18%2F23%2F90%2F07v58PICWAT_1024.jpg">
            </div>
            <div class="swiper-slide">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493115429486&di=9627af877b79cf8f95ecd45e48735abd&imgtype=0&src=http%3A%2F%2Fpic.qiantucdn.com%2F58pic%2F19%2F97%2F73%2F10658PICwik_1024.jpg">
            </div>
            <div class="swiper-slide">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493115429484&di=0f30d7e6ad0a31fb69f9b220f88f6756&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F15%2F78%2F93%2F82658PICY8N_1024.jpg">
            </div>
        </div>
        <!-- 分页器 -->
        <div class="swiper-pagination"></div>
        <p class="swiper-search">输入你要搜索的食物</p>
    </div>
    <ul class="food-list">
        <li class="food-item">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493203313010&di=a1ac280f3b8c15b860086319c502fa4b&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201309%2F08%2F20130908125114_5uzsY.thumb.700_0.jpeg">
            <p>名称</p>
        </li>
        <li class="food-item">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493203313010&di=a1ac280f3b8c15b860086319c502fa4b&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201309%2F08%2F20130908125114_5uzsY.thumb.700_0.jpeg">
            <p>名称</p>
        </li>
        <li class="food-item">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493203313010&di=a1ac280f3b8c15b860086319c502fa4b&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201309%2F08%2F20130908125114_5uzsY.thumb.700_0.jpeg">
            <p>名称</p>
        </li>
        <li class="food-item">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493203313010&di=a1ac280f3b8c15b860086319c502fa4b&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201309%2F08%2F20130908125114_5uzsY.thumb.700_0.jpeg">
            <p>名称</p>
        </li>
        <li class="food-item">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493203313010&di=a1ac280f3b8c15b860086319c502fa4b&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201309%2F08%2F20130908125114_5uzsY.thumb.700_0.jpeg">
            <p>名称</p>
        </li>
    </ul>

    <ul class="artice-list">
        <li class="artice-item">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493203313010&di=a1ac280f3b8c15b860086319c502fa4b&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201309%2F08%2F20130908125114_5uzsY.thumb.700_0.jpeg">
            <p>名称的观点是广东省是当官的身高多少</p>
        </li>
        <li class="artice-item">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493203313010&di=a1ac280f3b8c15b860086319c502fa4b&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201309%2F08%2F20130908125114_5uzsY.thumb.700_0.jpeg">
            <p>名称是德国大使馆第三个颂德歌功大概</p>
        </li>
        <li class="artice-item">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493203313010&di=a1ac280f3b8c15b860086319c502fa4b&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201309%2F08%2F20130908125114_5uzsY.thumb.700_0.jpeg">
            <p>名称呵呵返回的复合肥  广告规范化规范化发给好</p>
        </li>
        <li class="artice-item">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493203313010&di=a1ac280f3b8c15b860086319c502fa4b&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201309%2F08%2F20130908125114_5uzsY.thumb.700_0.jpeg">
            <p>名称好好好当然会电话她见附件发给光伏加工费个</p>
        </li>
        <li class="artice-item">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1493203313010&di=a1ac280f3b8c15b860086319c502fa4b&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201309%2F08%2F20130908125114_5uzsY.thumb.700_0.jpeg">
            <p>名称 好回复哈烦得很返回返回发发   返回发</p>
        </li>
    </ul>
</section>
<script type="text/javascript">
    //页面加载
    function onPageLoad() {
        initSwiper();
        setViewEvent();
        //doPageLoad();
    }

    //初始化swper
    function initSwiper() {
        var mySwiper = new Swiper('.swiper-container', {
            loop: true,
            autoplay: 3000,
            pagination: '.swiper-pagination',
        })
    }

    //点击事件
    function setViewEvent() {
    }

    //处理页面数据
    function doPageLoad() {
        loadData();
    }

    //加载数据
    function loadData() {
        //计算偏移量
        var iStart = (g_currPage - 1) * g_list_max_per;
        var url = '/api/material/list?' + "size=" + g_list_max_per + "&start=" + iStart;
        var pamas = null;
        API_GET(url, pamas, setDataToView);
    }

    //设置数据
    function setDataToView(jsonData) {
    }

    //Item
    function getHTMListItem(infoDetail) {
        var strHTML = '';
        return strHTML;
    }
</script>
{% include "../lib/m-footer.html" %}